@charset "UTF-8";
#container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

#container > div {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.try .btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
  /* ここにボタンのスタイルを追加していこう */
}

.try .btn.float:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.try .btn.filled {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.try .btn.filled:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.try .btn.letter-spacing:hover {
  background-color: black;
  color: white;
  letter-spacing: 3px;
}

.try .btn.shadow:hover {
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
}

.try .btn.solid {
  -webkit-box-shadow: 3px 3px 0 0 black;
          box-shadow: 3px 3px 0 0 black;
  border-radius: 5px;
}

.try .btn.solid:hover {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.try .btn.down {
  -webkit-box-shadow: 0px 4px 0 0 black;
          box-shadow: 0px 4px 0 0 black;
  border-radius: 5px;
}

.try .btn.down:hover {
  -webkit-transform: translate(0px, 4px);
          transform: translate(0px, 4px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.try .btn.push-left {
  -webkit-box-shadow: -3px -3px 0 0 black;
          box-shadow: -3px -3px 0 0 black;
  border-radius: 5px;
}

.try .btn.push-left:hover {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.try .btn.bg-left {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-left::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.try .btn.bg-left:hover {
  color: white;
}

.try .btn.bg-left:hover::before {
  -webkit-transform: none;
          transform: none;
}

.try .btn.bg-right {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-right::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.try .btn.bg-right:hover {
  color: white;
}

.try .btn.bg-right:hover::before {
  -webkit-transform: none;
          transform: none;
}

.try .btn.bg-top {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-top::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.try .btn.bg-top:hover {
  color: white;
}

.try .btn.bg-top:hover::before {
  -webkit-transform: none;
          transform: none;
}

.try .btn.bg-bottom {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-bottom::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.try .btn.bg-bottom:hover {
  color: white;
}

.try .btn.bg-bottom:hover::before {
  -webkit-transform: none;
          transform: none;
}

.try .btn.bg-centerx {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-centerx::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: -1;
}

.try .btn.bg-centerx:hover {
  color: white;
}

.try .btn.bg-centerx:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.try .btn.bg-centery {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-centery::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: -1;
}

.try .btn.bg-centery:hover {
  color: white;
}

.try .btn.bg-centery:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.try .btn.bg-centerout {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-centerout::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: -1;
}

.try .btn.bg-centerout:hover {
  color: white;
}

.try .btn.bg-centerout:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.try .btn.bg-skew {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.try .btn.bg-skew::before {
  content: '';
  width: 120%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: -130%;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  z-index: -1;
}

.try .btn.bg-skew:hover {
  color: white;
}

.try .btn.bg-skew:hover::before {
  -webkit-animation: skewanime .5s forwards;
          animation: skewanime .5s forwards;
}

.try .btn.bg-float1 {
  border: 1px solid black;
  color: #333;
  padding: 10px 40px;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.try .btn.bg-float1:hover {
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.try .btn.bg-float2 {
  background: #fff;
  border: 1px solid black;
  color: #333;
  padding: 10px 40px;
  display: inline-block;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.try .btn.bg-float2:hover {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1);
  border-color: transparent;
}

.try .btn.bg-gradient1 {
  display: inline-block;
  color: #fff;
  padding: 10px 40px;
  border-radius: 30px;
  background: -webkit-gradient(linear, right top, left top, from(#3bade3), color-stop(25%, #576fe6), color-stop(51%, #9844b7), to(#ff357f));
  background: linear-gradient(270deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background-position: 1% 50%;
  background-size: 200% auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.try .btn.bg-gradient1:hover {
  color: #fff;
  background-position: 99% 50%;
}

.try .btn.bg-gradient2 {
  display: inline-block;
  color: #fff;
  padding: 10px 40px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#52A0FD), color-stop(80%, #00e2fa), color-stop(100, #00e2fa));
  background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100);
  -webkit-box-shadow: 0 15px 15px rgba(82, 160, 253, 0.4);
          box-shadow: 0 15px 15px rgba(82, 160, 253, 0.4);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.try .btn.bg-gradient2:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.try .btn.bg-gradient3 {
  display: inline-block;
  color: #fff;
  padding: 10px 40px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#44ea76), color-stop(80%, #39fad7), to(#39fad7));
  background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.try .btn.bg-gradient3:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 15px 15px rgba(57, 250, 215, 0.4);
          box-shadow: 0 15px 15px rgba(57, 250, 215, 0.4);
}

.try .btn.bg-gradient4 {
  display: inline-block;
  color: #fff;
  padding: 10px 40px;
  border-radius: 30px;
  border: 1px solid #fa6c9f;
  color: #fa6c9f;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.try .btn.bg-gradient4:hover {
  border-color: transparent;
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#fa6c9f), color-stop(50%, #ffe140), to(#ff357f));
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size: 200% auto;
  background-position: right center;
  -webkit-box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
          box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
}

.try .btn.bg-changer-radius {
  display: inline-block;
  background: black;
  color: #fff;
  padding: 10px 40px;
  border: 5px double white;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.try .btn.bg-changer-radius:hover {
  background: #666;
  border-radius: 20px;
}

.try .btn.bg-shine {
  display: inline-block;
  background: black;
  color: #fff;
  padding: 10px 40px;
  overflow: hidden;
  position: relative;
}

.try .btn.bg-shine::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -75%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
}

.try .btn.bg-shine:hover::before {
  -webkit-animation: shine 1s;
          animation: shine 1s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@-webkit-keyframes skewanime {
  100% {
    left: -10%;
  }
}

@keyframes skewanime {
  100% {
    left: -10%;
  }
}
/*# sourceMappingURL=style.css.map */